main {
    min-height: calc(100vh - 170px - 60px);
}

/* About Section */

.about-container {
    max-width: 1600px;
    margin: 0 auto;
}

.about-container h1 {
    margin-top: 40px;
    margin-bottom: 10px;
}

.about-description {
    font-size: 1.8rem;
    color: #666;
    margin-bottom: 10px;
}

/* Mission and Vision Sections */
.mission,
.vision {
    margin-bottom: 10px;
}

.mission h2,
.vision h2 {
    font-size: 2rem;
    margin-bottom: 8px;
    color: #333;
}

.mission p,
.vision p {
    font-size: 1.5rem;
    color: #666;
    max-width: 800px;
    margin: 0 auto;
}

/* Team Section */
.team {
    padding: 20px 0px;
    background-color: #f9f9f9;
    min-height: 400px;
}

.team h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #333;
}

.team-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.team-member {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: calc(33.333% - 40px);
    text-align: center;
    margin-bottom: 30px;
}

.team-member img {
    border-radius: 50%;
    margin-bottom: 15px;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.team-member h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
}

.team-member p {
    font-size: 1rem;
    color: #666;
}

/* Responsive Design */
@media (max-width: 768px) {
    .team-grid {
        flex-direction: column;
        gap: 20px;
    }

    .team-member {
        width: 100%;
    }
}