/* Contact Container */
.contact-container {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: beige;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

.contact-container h1 {
    margin-bottom: 10px;
    margin-top: 20px;
}

.contact-container p {
    font-size: 1.8rem;
    margin-bottom: 30px;
    color: #666;
}

/* Contact Form */
.contact-form {
    width: 100%;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-size: 1.6rem;
    margin-bottom: 8px;
    color: #555;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    color: #333;
}

.form-group textarea {
    resize: vertical;
}

/* .submit-btn {
    display: inline-block;
    background-color: #333;
    color: beige;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
} */

/* .submit-btn, */
.btn:hover {
    background-color: #555;
    color: white;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    .contact-container {
        padding: 15px;
    }
}