header {
    margin: auto;
    min-width: 1366px;
    width: 100%;
    padding: 20px 93px 0 93px;
    height: 900px;
    background-image: linear-gradient(to left,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0.8)), url("../assets/images/image-hero-waterfall.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

header h2,
header p {
    color: white;
}

/* Navbar styles */
.navbar {
    height: 50px;
    display: inline-block;
    width: 100%;

}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: auto;
}

.navbar-logo {
    width: 154px;
    height: 46px;
}

.nav-menu {
    display: flex;
    list-style: none;
    gap: 50px;
}

.nav-item {
    /* margin-left: 25px; */
}

.nav-link {
    font-family: 'Work Sans';
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 16.42px;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

/* Login Buttons */
.signin-btn,
.signup-btn {
    font-weight: 700;
}

.signin-btn:hover {
    background-color: burlywood;
}

/* Button Container Styling */
.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 33px;
}

.active {
    font-weight: bold;
    color: yellow;
}



/* Footer styles */

footer {
    width: 1366px;
    height: 398px;
    margin: auto;
    background-image: linear-gradient(to left,
            rgba(30, 30, 30, 0.8),
            rgba(30, 30, 30, 0.8)),
        url(../assets/images/img-nature-trees.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 70px 93px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;

    width: 1180px;
    height: 259px;
    color: white;
    column-gap: 64px;
}

.footer-container p,
.footer-container li,
.footer-container a {
    color: white;


}

.logo-container {
    width: 380px;
    height: 259px;
    color: white;
}

.logo-container>img {
    width: 273px;
    height: 82px;
    margin-bottom: 8px;
}

.footer-description {
    margin-bottom: 26px;

}

.icon-container {
    width: 156px;
    height: 24px;
    display: flex;
    gap: 24px;
}

.last-child {
    width: 332px;
    height: 235px;
}


.footer-container li,
.footer-container a {
    font-family: 'Work Sans';
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 44px;
}

h6 {
    font-family: 'Work Sans';
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 30.5px;
    margin-bottom: 28px;
}