@import url(../styles/fonts.css);


/* General styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    box-sizing: border-box;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: rgba(255, 252, 248, 1);
    padding-top: 30px;
    margin: auto;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6.6rem;
    line-height: 71.94px;
    color: rgba(20, 32, 62, 1);
    text-align: center;
    margin-top: 101px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .button-container {
        flex-direction: column;
        gap: 15px;
    }
}

/* Main section-1 */

main {
    min-height: calc(100vh - 149px - 60px);
    width: 100%;

}

.section-1 {
    display: flex;
    flex-direction: column;
    height: 576px;
    justify-content: center;
    margin: auto;
    gap: 29px;

}

.section-1-paragraph {
    font-size: 2.2rem;
    font-weight: 400;
    line-height: 28.6px;
    text-align: center;
    color: rgba(20, 32, 62, 1);
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}

.section-1-btn {
    width: 192px;
    height: 73px;
    background: rgba(20, 32, 62, 1);
    color: rgba(255, 255, 255, 1);
    margin: auto;
    margin-bottom: 130px;
    align-items: center;
    display: flex;

}

.section-1-btn:hover {
    background-color: burlywood;
}

h3 {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 18.2px;
    color: rgba(20, 32, 62, 1);
}

.line {
    width: 200px;
    height: 1px;
    background-color: rgba(20, 32, 62, 0.2);
    display: inline-block;
}

.divider-line-container {
    display: flex;
    padding: 30px 0 30px 0;
    justify-content: center;
    align-items: center;
}

.divider-line-container h3 {
    display: inline;
    font-size: 2rem;
    margin: 0 9px 0 15px;
}

.section-2 {
    margin: auto;
    width: 100%;
    min-height: 496px;
    background: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    padding: 0 143px 0 236px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;


}

.card {
    width: 291px;
    height: 356px;
    margin: 0px;
    padding: 0px;

}

.card>h2 {
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 23.98px;
    text-align: left;
    margin: 0;
    padding: 20px 0 15px 0;
    color: rgba(20, 32, 62, 1);
}

.date {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 18.2px;
    text-align: left;
    margin: 0;
    color: rgba(20, 32, 62, 1);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}