@import url(../styles/fonts.css);


:root {
    --orange-linear: linear-gradient(90deg, #CD1A40 -11%, #FF803C 109.5%);
    --card-color: rgba(255, 249, 240, 1);
}

/* General styles */
* {
    margin: 0;
    padding: 0;
    font-size: 10px;
}

body {
    font-family: 'Work sans', 'Water Brush';
    margin: auto;
}

.letsgo-container {
    width: 580px;
    height: 415px;
    gap: 16px;
    display: flex;
    flex-direction: column;
    margin: 144px 0;
}

h1 {
    font-family: 'Work Sans';
    font-size: 8.6rem;
    font-weight: 700;
    line-height: 100.88px;
    color: white;
}

h2 {
    font-family: 'Water Brush';
    font-size: 4.6rem;
    font-weight: 400;
    line-height: 66.7px;
    color: rgba(205, 26, 64, 1);
}

h3 {
    font-family: 'Work Sans';
    font-size: 6.4rem;
    font-weight: 200;
    line-height: 75.07px;
    color: rgba(30, 30, 30, 1);
}

h4 {
    font-family: 'Work Sans';
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 37.54px;

    margin: 38px 0 11px 0;

}

h5 {
    font-family: "Work Sans";
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 28.15px;
    color: rgba(30, 30, 30, 1);
    margin-bottom: 4px;
}

p {
    font-family: 'Work Sans';
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 24px;
    color: rgba(30, 30, 30, 1);
}

.search-container {
    width: 580px;
    height: 96px;
    justify-content: space-between;
    padding: 15px 21px 16px 22px;
    margin-top: 32px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 28px;
}

.search-container-horizontal-line {
    width: 24px;
    height: 0px;
    border: 1px solid white;
    transform: rotate(-90deg);
    /* background-color: white; */
}

.search-container,
.location-box,
.calendar-box {
    display: flex;
    align-items: center;
}

.location-box img,
.calendar-box img {
    margin-right: 13px;
}

.location-country,
.calendar-date {
    font-size: 2.4rem;
    font-weight: 700;
}

button,
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 48px;
    border-radius: 18px;
    background: var(--orange-linear);
    border: none;
    color: white;

    font-family: 'Work Sans';
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 16.42px;
    cursor: pointer;

}

.search-container button {
    width: 65px;
    height: 65px;
}

main {
    width: 1366px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 93px;
    margin: auto;
}

section {
    display: flex;
    flex-direction: column;
    padding-top: 76px;
    row-gap: 18px;
}


.destination-container {
    display: grid;
    grid-template:
        'a a . .'
        'a a b b';
    row-gap: 14px;
    column-gap: 20px;
    margin-top: 18px;
}

.destination-container div {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.destination-container h2 {
    color: white;
}



.destination-city-1 {
    width: 580px;
    height: 626px;
    background-image: url(../assets/images/img-malaysia.jpg);
    background-size: cover;
    grid-area: a;
}

.destination-city-2,
.destination-city-3 {
    width: 280px;
    height: 306px;
    background-image: cover;
}

.destination-city-2 {
    background-image: url(../assets/images/img-dubai.jpg);
}

.destination-city-3 {
    background-image: url(../assets/images/img-greece.jpg);

}

.destination-city-4 {
    width: 580px;
    height: 306px;
    background-image: url(../assets/images/img-singapore.jpg);
    grid-area: b;
}

.btn-more {
    align-self: center;
    margin-top: 55px;
    width: 122px;
    height: 54px;

    border-radius: 18px;

}

.activity .activity-container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 23px;
    row-gap: 36px;
}

.section-description {
    width: 780px;
    height: 59px;
    margin: auto;
}

.activity-card {
    width: 378px;
    height: 412px;
    border-radius: 6px;
    background-color: rgba(255, 249, 240, 1);
    color: rgba(153, 153, 153, 1);
    padding: 56px 33px 38px 33px;
    display: inline-block;

}

.tours-container {
    display: flex;
    gap: 24px;
}

.activity-container .first-card,
.activity-container .first-card p {
    background: var(--orange-linear);
    color: white;
}

.tours-card {
    width: 378px;
    height: 412px;
    background-color: rgba(255, 249, 240, 1);
    border-radius: 6px;

}

.tour-details {
    height: 90px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 22px;
}

.tour-details .duration {
    font-weight: 300;
    text-align: left;
}

.tour-details .price {
    font-weight: 600;
}

.photo-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.photo-card {
    width: 380px;
    height: 486px;
}

.reviews-container {
    /* position: relative; */
}

.reviews-container>img {
    position: relative;
    top: 25px;
    right: calc((980px - 65px) / 2 - 37px);
}

.reviews-container .quote {
    width: 980px;
    height: 192px;
    padding: 38px 37px 47px 37px;
    margin-bottom: 18px;
    text-align: center;
    border-radius: 2px;
    color: white;
    background: var(--orange-linear);
}

.user-photos-container {

    width: 873px;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 36px;
    margin: auto;
}

.user-photo {
    display: inline-block;
}

.scarlett {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.country-origin {
    line-height: 26px;
}

.newsletter {
    width: 1366px;
    height: 520px;
    background: var(--orange-linear);
    margin-top: 248px;
    position: relative;

}

.building {
    background-image: url(../assets/images/img-building.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 565px;
    height: 692px;
    position: absolute;
    top: -172px;
}

section .newsletter {
    justify-content: space-between;
}

.neswletter-container {
    width: 580px;
    height: 341px;
    align-self: flex-end;
    text-align: left;
    margin: 14px 93px 89px 0;
}

.neswletter-container h3 {
    font-size: 4.6rem;
    font-weight: 700;
    line-height: 53.96px;
    color: white;
    margin-bottom: 26px;
}

.neswletter-container p {
    color: white;
    margin-bottom: 26px;
}



.newsletter-form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 580px;
    height: 74px;

}

.newsletter-input {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);

    backdrop-filter: blur(6px);
    border: none;

    color: white;
    padding: 24px 0 24px 26px;

}

.newsletter-input::placeholder {
    color: white;
    font-family: 'Work Sans';
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 26px;
}

.newsletter-btn {
    padding: 10px 20px;
    background: white;
    ;
    /* Button background color */
    border: none;
    /* border-radius: 0 4px 4px 0; */
    /* Rounded corners for the right side */
    cursor: pointer;
    font-size: 16px;
    width: 80px;
    height: 74px;
    border-radius: 0;

}

.newsletter-btn:hover {
    background-color: var(--orange-linear);
    /* Darker shade on hover */
}

.newsletter-btn:hover {
    filter: invert(1) brightness(2);
}